@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

* {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --primary: #4f46e5;
  --primary-light: #6366f1;
}

.marquee-inner {
  animation: marqueeScroll 15s linear infinite;
}

.marquee-inner-testimonials {
  animation: marqueeScroll 35s linear infinite;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee-reverse {
  animation-direction: reverse;
}

@page {
  size: letter;
  margin: 0;
}

@media print {

  html,
  body {
    width: 8.5in;
    height: 11in;
    overflow: hidden;
  }

  body * {
    visibility: hidden;
  }

  #resume-preview,
  #resume-preview * {
    visibility: visible;
  }

  #resume-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    box-shadow: none !important;
    border: none !important;
  }
}
